# This file includes environment variables that can be committed to git. It's gitignored by default because it represents your local development environment.

# Built-in environment variables
APP_DISPLAY_NAME=Custom Engine Agent
APP_INTERNAL_NAME=CustomEngineAgent
TEAMSFX_ENV=local
APP_NAME_SUFFIX=local
BOT_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
BOT_STORAGE_CONTAINER_NAME=state

# Generated during provision, you can also add your own variables.